<?xml version="1.0" encoding="UTF-8"?>
<Context antiJARLocking="true" path="/ws/global">
    
    <Resource name="jdbc/lab4_dev"
                auth="Container"
                type="javax.sql.DataSource"
                username="postgres"
                password="postgres"
                driverClassName="org.postgresql.Driver"
                url="jdbc:postgresql://localhost:5432/lswa"
                initialSize="0"
                maxActive="8"
                maxIdle="4" />

</Context>