[user]
    # Force le fait de devoir configurer
    # l'auteur dans chaque dépôt afin d'éviter
    # les commit avec le mauvais mail.    
    #name = {{ gitconfig_user_name }}
    #email = {{ gitconfig_user_email }}
    useConfigOnly = true
[credential]
    helper = store
[core]
    editor = vim
    excludesFile = {{ ansible_user_dir }}/.git-ignore-global
    autocrlf = input 
[push]
    default = simple
[pull]
    rebase = true
[alias]
    st = status

    lag = log --all --graph --format='%Cblue%h%Creset %C(cyan)%ad%Creset [%<(11,trunc)%C(magenta)%an%Creset] %s%C(auto)%d%Creset' --date=format:'%Y-%m-%d %H:%M:%S'
    k = !gitk --all --date-order &
    g = !gitg -abrt &

    aa = add -A
    ap = add --patch

    # Pour désindexer des modifications
    rh = reset HEAD
    
    # Pour faire un revert
    rv = checkout --

    # merges
    mf=merge --ff-only
    mc=merge --no-ff

    # Suppression de branche local et/ou sur origin
    db = branch -d
    dbo = push -u origin --delete
    dblo = !git branch -d $1 && git push -u origin --delete $1 && :

    # Différences
    diffw = diff --color-words
    difft = difftool

    # Liste des alias
    alias = !git config -l | grep alias | cut -c 7-

[diff]
    tool = kdiff3
[difftool]
    prompt = false
[difftool "kdiff3"]
    cmd = kdiff3 $LOCAL $REMOTE
    trustExitCode = false
[merge]
    tool = kdiff3
[mergetool]
    prompt = false
[mergetool "kdiff3"]
    cmd = kdiff3 $BASE $LOCAL $REMOTE -o $MERGED
    keepBackup = false
    trustExitCode = false
